<div class="ed_pagetitle" style="background-image: url(/img/about_Banner.jpg ); background-repeat:no-repeat; margin-top:81px;padding-bottom:160px;">
            <div class="ed_img_overlay"></div>
	          <div class="container">
		        <div class="row">
			     <div class="col-lg-6 col-md-4 col-sm-6">
				  <div class="page_title">
					<h2>About Us</h2>
				  </div>
			   </div>
			  
		   </div>
	     </div>
     </div>
     <div class="ed_parallax_section pro_about_video">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<div class="ed_video_section">
									<div class="embed-responsive embed-responsive-16by9">
						<div class="ed_video">
							<img src="/img/about-pic.png" style="cursor:pointer" alt="1">
							<div class="ed_img_overlay">
								<a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
							</div>
						</div>
						
					</div>
								</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="ed_video_section_discription">
					<h4 style="color:#000000">About The BookaByte</h4>
					<p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condimentum. Nullam dignissim id magna non tempus. Vivamus molestie nulla nec pharetra dignissim. Suspendisse auctor nisi et neque vehicula pulvinar. Quisque quis tempus magna. Quisque sed luctus nunc sapien.Wam cursus imperdiet elit. Fusce sollicitudin eget nulla in condimentum. Nullam dignissim id magna non tempus. Vivamus molestie nulla nec pharetra dignissim. Suspendisse auctor nisi et neque vehicula pulvinar. Quisque quis tempus magna. Quisque sed luctus nunc sapien.</p>
				</div>
			</div>
		</div>
	</div>
</div>