
      <header class="masthead" style="background: url(img/banner.jpg) center top no-repeat; padding-bottom:650px;">

  <div class="centered">
    
      

      
       

    
  </div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row"></div>
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1></h1>
        <span class="subheading">


        </span>
      </div>
    </div>

  </div>
  </div>



</header>

<div class="centered" style=" text-align: center; margin-top:50px" ><h1 style="font-size:21px !important;font-weight:bold !important;color:#000; margin-bottom:20px;">SEARCH YOUR BOOKS BY TITLE / AUTHOR / ISBN / KEYWORDS</h1>
<div class="form-group">
  <input type="text" class="form-control" id="usr" placeholder="Enter Here">
  <button type="button" style="width: 160px;background: #f44102; margin-top:20px" class="btn btn-danger">Search</button>
</div></div>
