
    <div class="row">
        <div class="help" style="width:100%; background-size:100%;padding-bottom: 68px;">
    </div>
        <div class="row"><img src="/img/safety.jpg" class="img-responsive"></div>
</div>

<div class="row">
    <div class="container">
        
    <div class="col-md-12">
        <div class="cc" style=" margin-top:30px">
            <h1 style="color: #f44102;font-size: 30px; margin-bottom:8px;">WHEN MEETING SOMEONE FOR THE FIRST TIME, PLEASE REMEMBER</h1>
            <p style="margin-bottom:0">It's very important to be safe when you meet people when exchanging money and book(s).</p>
            <ul class="text-list" style="margin-bottom:30px;margin-left: 20px;">
                    <li><span>Insist on a public meeting place like a cafe surrounded by people</span></li>
                    <li><span>Travel there on your own – don’t accept a lift from the other person</span></li>
                    <li><span>Do tell a friend or family member who you are meeting, where you are going and when you will be back</span></li>
                    <li><span>Take your cell phone with you at all times</span></li>
                    <li><span>Consider having a friend accompany you</span></li>
                    <li><span>Trust your instincts</span></li>
                </ul>
        </div>
    </div>
    </div>
</div></div>
